@using Microsoft.AspNetCore.Components

<nav class="nav">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Overview</NavLink>
    <NavLink href="/products" class="nav-link">Products</NavLink>
    <NavLink href="/products/new" class="nav-link">Create Product</NavLink>
</nav>
